.consent {
    &__popup {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        transition: transform 1s;
        transform: translateY(120%);
        z-index: 2000;

        &.show {
            transform: translateY(0);
        }
    }

    &__wrapper {
        margin: 0 auto;
        padding: 1.5em;
        max-width: 400px;
        color: $mainColor;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.7;
        background: $whiteColor;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 2px;
    }

    &__link {
        color: $mainColor;
        text-decoration: none;
        font-weight: 800;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        padding-top: 1em;
    }

    &__button {
        position: relative;
        margin: 0 0.7em;
        padding: 0.5em 1em;
        width: 96px;
        color: $whiteColor;
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
        background: $mainColor;
        border-radius: 40px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: $secondColor;
            transition: width .2s;
            z-index: -1;
        }

        &:hover::after {
            width: 100%;
        }
    }

}